### datatypes and variable

In [4]:
print("hello world")

hello world

In [7]:
a=123

In [10]:
a

123

In [4]:
s="python is awsome"

In [7]:
s

'python is awsome'

In [13]:
s="""saurabh is ver
good boy 
and we go to school daily"""

In [14]:
s

'saurabh is ver\ngood boy \nand we go to school daily'

In [15]:
name= "saurabh singh"

In [16]:
name

'saurabh singh'

In [17]:
s="hello "

In [18]:
s

'hello '

In [19]:
t,f= True ,False

In [20]:
t,f

(True, False)

In [1]:
2+32

34

In [3]:
print("a,b")

a,b

In [7]:
A= 'apple'
a= 'banana'

In [8]:
print(A)

apple

In [10]:
print('i went to eat lunch')
print('i have eaten my lunch ')
print('thanks ')

i went to eat lunch
i have eaten my lunch
thanks

#change line \n

In [12]:
print('i hav my lunch\n and then thanks ')

i hav my lunch
 and then thanks

In [13]:
a='apple' 
b= 'banana'
c= 'cherry'
print("a=",a, "b=",b,"c=",c,)

a= apple b= banana c= cherry

print(f'a={a},b={b},c={c}') #formated string and the simlest way (f)

#input how to take

In [20]:
name= input('saurabh ')
print('ok,so who are you',name)

ok,so who are you saurabh

#sum of two numbers

In [21]:
int(1234)

1234

In [22]:
int(t)

NameError: name 't' is not defined

In [23]:
int(a)

ValueError: invalid literal for int() with base 10: 'apple'

In [24]:
int(2.977)

2

In [9]:
age= input ('enter ur age ')
print(age,type(age))
age= int(age)
print(age,type(age))

334 <class 'str'>
334 <class 'int'>

In [11]:
age=input('enter your age')
print(age,type(age))
age=int(age)
print(age,type(age))

33 <class 'str'>
33 <class 'int'>

In [27]:
a=int(input('enter a number'))
b=int(input('enter a number'))
a-b

-11

#operators 
- Arithmetic
-comparission
-assingment operator
-logical
instance opr is
-memrable operator in

In [39]:
a = 10 #arithmetic
b= 3

In [29]:
a+b

13

In [30]:
a-b

7

In [31]:
b-a

-7

In [32]:
a-b

7

In [33]:
a/b

3.3333333333333335

In [34]:
a//b

3

In [35]:
a%b # module (reaminder)

1

In [36]:
a**b #exponent

1000

In [38]:
a**10

10000000000

# 7 aritmetic closed

#comparison

In [40]:
a>b

True

In [41]:
a<b

False

In [42]:
a==b

False

In [43]:
a!=b

True

In [45]:
10!=3 #not equals to

True

#logical operators 
and , or , not

and - gives true if all conditions are true 
or - if any condtion is true 
not - gives true if condition is false and vice versa

In [53]:
name ='raju'
age =20
name == 'raju'  and age > 18

True

In [19]:
name='saurabh'
age=45
name=='saur' or age>89

False

In [48]:
course = 'bca'
language = 'python'

In [50]:
course== 'bca' and language== 'python'

True

In [52]:
course== 'bca' or language == 'java'

True

In [54]:
animal= 'chimpanzee'

In [55]:
not animal=='chim'

True

In [56]:
not animal=='chimpanzee'

False

In [61]:
number =  [1,2,3,4,5,6,7,8,9]

In [62]:
44 in number

False

In [67]:
movie= ['avenger','thor','iron'] #string

In [69]:
'avenger' in movie

False

In [10]:
name='geeta'
age= '67' 
print'